html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
}

footer {
	position: fixed;
	background-color: #222;
	border-color: #222;
	bottom: 0;
	min-height: 30px;
	width: 100%;
}

.searchForm {
	height: 300px;
	width: 800px;
	background-color: rgba(49, 49, 49, 0.72);
	padding: 50px;
}

.searchBox {
	padding: 10px;
}

.inputBox {
	width: 200px;
	padding: 10px
}

.button {
	background-color: rgba(167, 202, 70, 1);
	width: 200px;
}