html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
}

footer {
	position: fixed;
	background-color: #222;
	border-color: #222;
	bottom: 0;
	min-height: 30px;
	width: 100%;
}

.navbar {
    border-radius: 0px;
}

.searchForm {
	height: 250px;
	width: 800px;
	background-color: rgba(49, 49, 49, 0.72);
	padding: 50px;
}

.searchBox {
	padding: 10px;
}

.inputBox {
	width: 200px;
	padding: 10px
}

.searchButton1 {
	background-color: rgba(167, 202, 70, 1);
	width: 200px;
}

.searchButton2 {
	background-color: rgba(167, 202, 70, 1);
}

.searchLine {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	margin-top: -20px;
	background-color: rgba(155, 155, 155, 1);
}

.selectLine {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 50px;
	background-color: rgba(224, 224, 224, 1);
}

.form-group{
	padding-left: 10px;
}